*/_build/*
!*/_build/*.hex
arm/*
!arm/*.uvproj
!arm/*.uvprojx
!arm/*.uvopt
!arm/*.uvoptx
gcc/*
!gcc/*.bat
!gcc/Makefile
*.uvgui.*
*.dep
*.log
*.bak
*.ini
*.txt
*.hex
*.out
*/iar/_build/*
*.ewt
*/iar/settings/*
*/settings/*